.fv_testimonial_container {
	margin-top: 80px;
	margin-bottom: 80px;
	letter-spacing: 1px;
	.stw-read-more {
		background-color: transparent;
   		padding: 0;
   		margin: 0;
   		border: none !important;
   		outline: none !important;
   		line-height: normal;
   		font-weight: bold;
   		font-style: italic;
   		color: $red;
   		&:focus,
   		&:active,
   		&:hover,
   		&:visited {
   			border: none !important;
   			outline: none !important;
   		}
	}
	.embed-container {
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
        max-width: 100%;
        height: auto;
        iframe,
	    object,
	    embed {
	        position: absolute;
	        top: 0;
	        left: 0;
	        width: 100%;
	        @media (min-width: 768px) {
	        	width: 404px;
	        	height: 227.25px;
	        }
	        @media (min-width: 992px) {
	        	width: 704px;
	        	height: 396px;
	        }
	    }
    }
    .quote-up {
		height: 30px;
		width: 30px;
		@media (min-width: 992px) {
			height: 50px;
			width: 50px;
		}
    }
}
.testimonials_modal {
	z-index: 12000;
	.modal-dialog {
		.modal-content {
			border: none;
			border-bottom: 16px solid $blue;
			.modal-header {
				display: block;
				border: none;
				position: relative;
				.close {
					position: absolute;
					top: 10px;
					right: 10px;
					width: 56px;
					height: 56px;
					padding: 8px;
					margin: 0;
				 }
				 .modal-close-line {
				 	position: absolute;
					width: 40px;
					height: 2px;
					background-color: #A9A9A9;
					left: 8px;
					top: 50%;
					&:first-child { transform: rotate(135deg); }
					&:last-child { transform: rotate(46.97deg); }
				 }
			}
			.modal-body {
				padding-left: 35px;
				padding-right: 35px;
				border: none;
				@media (min-width: 768px) {
					padding-left: 60px;
					padding-right: 60px;
				}
				@media (min-width: 992px) {
					padding-left: 100px;
					padding-right: 100px;
				}
				.testimonials_testimonial:not(.video) {
					position: relative;
					&:before,
					&:after {
						content: '';
						height: 20px;
						width: 20px;
						position: absolute;
						background-size: 98% 98%;
						background-repeat: no-repeat;
						background-position: center;
						@media (min-width: 768px) {
							height: 30px;
							width: 30px;
						}
						@media (min-width: 992px) {
							height: 50px;
							width: 50px;
						}
					}
					&:before {
						background-image: url('../images/quote-up.svg');
						top: -10px;
						left:  -20px;
						@media (min-width: 768px) {
							top: -15px;
							left:  -30px;
						}
						@media (min-width: 992px) {
							top: -25px;
							left:  -50px;
						}
					}
					&:after {
						background-image: url('../images/quote-down.svg');
						bottom: -10px;
						right:  -20px;
						@media (min-width: 768px) {
							bottom: -15px;
							right:  -30px;
						}
						@media (min-width: 992px) {
							bottom: -25px;
							right:  -50px;
						}
					}
				}
			}
		}
	}
}