$red: #e45a20;
$orange: #F48024;
$blue: #408aca;
$yellow: #d6de5c;
$white: #fff;
$black : #000000;
$grey : #DFDFDF;
$lightgrey : #A2A2A2;
$darkgrey: #ADADAD;

@mixin hide-element {
    position: absolute;
    visibility: hidden;
    left: -10000px;
}

@mixin btn-orange {
    background: $orange;
    color: $white;
    border: 2px solid $orange;
    border-radius: 50px;
    transition: all 0.6s ease;
    min-width: 220px;
    margin: auto;
    font-weight: 200;
    font-size: 15px;
    text-transform: uppercase;
}

@mixin btn-orange-hover {
    background: $white;
    color: $orange;
    border: 2px solid $orange;
}

@mixin btn-blue {
    background: $blue;
    color: $white;
    border: 2px solid $blue;
    border-radius: 50px;
    transition: all 0.6s ease;
    min-width: 220px;
    margin: auto;
    font-weight: 200;
    font-size: 15px;
    text-transform: uppercase;
}

@mixin btn-blue-hover {
    background: $white;
    color: $blue;
    border: 2px solid $blue;
}

@mixin short-underline {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-color: $grey;
    height: 1px;
    width: 100%;
    top: 2em;
}